# Virtual environment
.venv/
env/
venv/

# Django collectstatic output
backend/staticfiles/
backend/media/

# Local settings
backend/.env

# Logs
*.log

# React / Node
frontend/node_modules/
frontend/build/

# IDE / Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db


.env